/* MAIN 
==================================================*/
body, p {padding:0;margin:0;font-family: 'roboto Condensed', san-serif;}
#leg-app {width:98%;padding:30px 1%;overflow:auto;}
#leg-app .relative {position:relative;}
#leg-app .clear {clear:both;}
#leg-app .left {float:left;}
#leg-app .right {float:right;}
#leg-app .height {height:60px;}
#leg-app .align-center {text-align:center;}
#leg-app .block {text-align:center;width:30%;float:left;}
#leg-app .leg-end .block {width:50%;}
#leg-app .full {height:60px;}
#leg-app .half {height:29.3px;}
#leg-app .mute {font-size:.8em;color:#aaa;}
#leg-app .border {border-right: 1px #ddd solid;}
#leg-app a {text-decoration: none;}
#leg-app a:hover {text-decoration: underline;color:#aaa;}
.leg-row {width:100%;border-bottom:1px #aaa solid;padding:0;}


/* FILTERS 
==================================================*/
#leg-filters {width:100%;}
	.leg-button {padding: 8px;display: inline;background: #ddd;color: #333;cursor: pointer;margin: 0 10px 0 0;font-size: .8em;border-radius: 5px;}
	.leg-button:hover {background:#aaa;}
	#leg-search {height:20px;width:30%;border:1px solid #ccc; float:left;max-width:300px;margin:-3px 0 0 0 !important;}
	#leg-search-options {margin:0 0 20px 0 !important;}
	#leg-search-options div:first-of-type {float:left;}
	#execute-search, #reset-search {margin:0 0 0 20px !important;padding:5px;border-radius: 0;}

	#leg-ask>div {min-height: 80px;}
	#leg-ask>div:last-child div:last-of-type {float:none;}

/* HEADER ROW 
==================================================*/
#leg-hed {}
	#leg-hed .header {font-size:.9em; color:#333;}
	#leg-hed .header>div {padding:10px 0 0 0;}
	#leg-hed-row {width:100%;border-bottom:1px #333 solid;padding:0;height:60px;position:relative;background: #fff;z-index:100;}
		#leg-length {width:5%;padding:0 1%;}
		#leg-leg {width:80%;}
		#leg-level {width:6%;height:60px;}

/* BODY 
==================================================*/			
#leg-body {margin-top:60px;}
	.leg-meta, #leg-meta {width:35%;padding:5px 1% 5px 0;height:35px;}
		.leg-title {font-size: .9em;color:#333;}
		.leg-sum {font-size:.8em;color:#aaa;}
	.leg-date, #leg-date {width:5%;padding:0 1%;}
		.leg-date>div {padding:20px 0;}
	.leg-length {width:5%;padding:7px 1%;}
		.leg-length>div:first-of-type {font-size: 1.5em;color: #aaa;padding-top:12%;}
	.leg-viz, #leg-viz {width:50%;padding:0;margin:0;}
		.leg-leg {width:80%;border-left: 1px solid #ddd;}
			.leg-upper {width: 89%;border-bottom: 1px #ddd solid;}
				.leg-upper .leg-level {border-bottom: 1px #ddd solid;}
			.leg-lower, #leg-progress {width: 89%;}
				.leg-level {position:relative;border-right: 1px solid #ddd;width:6%;float:left;}
					.leg-level>div {padding-top:4px;}
				.leg-intro {}
				.leg-commit {}
				.leg-floor {}
			.leg-enroll, #leg-enroll {width: 10.7684%}
		.leg-end, #leg-end {width:19.8%;}
			.leg-gov {}
			.leg-chapter {}
			.leg-length {}

/* FOOTER 
==================================================*/
#leg-foot {}


/* MEDIA QUERIES 
==================================================*/

@media screen and (max-width:1084px){
	.leg-lower, #leg-progress, .leg-upper {width: 88%;}
	.leg-end, #leg-end {width:19.7%;}
}

@media screen and (max-width:850px){
	.leg-length, #leg-length {display:none;}
	.leg-date, #leg-date {width:10%;}
	.leg-meta, #leg-meta {width:37%;}
}

@media screen and (max-width:850px){
	.leg-row, #leg-hed-row , #leg-app .full, #leg-app .height {height:90px;}
	#leg-app .half {height:44.5px;}
	.leg-date, #leg-date {display:none;}
	.leg-meta, #leg-meta {width:37%;}
	.leg-viz, #leg-viz {width:62%;}
	.leg-leg,#leg-leg  {width:79%;}
}