/* MAIN 
==================================================*/
body, p {padding:0;margin:0;font-family: 'roboto Condensed', san-serif;}
#leg-app {width:98%;padding:30px 1%;overflow:auto;}
#leg-app .relative {position:relative;}
#leg-app .clear {clear:both;}
#leg-app .left {float:left;}
#leg-app .right {float:right;}
#leg-app .height {height:60px;}
#leg-app .align-center {text-align:center;}
#leg-app .block {text-align:center;width:31.28%;float:left;}
#leg-app .leg-end .block {width:50%;}
#leg-app .full {height:60px;}
#leg-app .half {height:29.5px;}
#leg-app .mute {font-size:.8em;color:#aaa;}
#leg-app .border {border-right: 1px #ddd solid;}
#leg-app a {text-decoration: none;}
#leg-app a:hover {text-decoration: underline;color:#aaa;}
.leg-row {width:100%;border-bottom:1px #000 solid;padding:0;}


/* FILTERS 
==================================================*/
#leg-filters {width:100%;}
	.leg-button {padding: 8px;display: inline;background: #ddd;color: #333;cursor: pointer;margin: 0 10px 10px 0;font-size: .8em;border-radius: 5px;}
	.leg-button:hover {background:#aaa;}
	#leg-search {height:20px;width:30%;border:1px solid #ccc; float:left;max-width:300px;margin:-3px 0 0 0 !important;}
	#leg-search-options {margin:20px 0 !important;}
	#leg-search-options div:first-of-type {float:left;}
	#execute-search, #reset-search {margin:0 0 0 20px !important;padding:5px;border-radius: 0;}

	#leg-ask {height:auto;}
	#leg-ask>div {min-height: 80px;}
	#leg-ask>div:last-child div:last-of-type {float:none;}

	#leg-filter {padding: 10px 1%;border: 1px #aaa solid;width: 20%;cursor: pointer;margin-bottom: 30px;position:relative;height:20px;}
		#leg-filter-select {display:block;position: absolute;top: 0;left: 0;width:100%;}
			#leg-filter-select p {margin: 10px;position: relative;font-size: .9em;color: #aaa;font-style: italic;}
		#leg-filter-options {display:none;position: absolute;  top: -1px;left: -1px; z-index: 1000;  background: rgb(118, 118, 206); width: 100%;  border: #ddd solid 1px;  min-height: 80px;}
			#leg-filter-options>div:first-of-type {border-bottom: 1px #fff solid;  margin: 0 10px;}
				#leg-filter-options>div:first-of-type p {margin: 10px;  color: #fff;  font-size: .9em;  font-style: italic;}
			#leg-filter-options>div:last-of-type { -webkit-column-count: 2; -moz-column-count: 2; column-count: 2; -webkit-column-gap: 10px; -moz-column-gap: 10px; column-gap: 10px;margin:0 10px;}
		.leg-filter-option {color:#fff;font-size:.9em;padding: 5px 0;}
		.leg-filter-option:hover {color:#eee;text-decoration: underline;}

/* DEFINITIONS  
==================================================*/
#leg-def {overflow: auto;border-bottom: 1px #ddd solid;padding-bottom:15px;}
	#leg-toggle {cursor: pointer;}
		#leg-toggle p {color:#7676ce;}
		#leg-toggle:hover p {color:#4141b6;}
	#leg-toggled {margin: 20px 0;display:none;}
		#leg-color {clear:both;}
			.leg-color {float:left;width:80px;margin-right: 20px;}
			.leg-color:first-of-type>div:first-of-type {background:#76ce76;}
			.leg-color:last-of-type>div:first-of-type {background:#ce7676;}
			.leg-color:nth-of-type(2)>div:first-of-type {background:#7676ce;}
			.leg-color>div:first-of-type {width:20px;height:20px;background:#aaa;float:left;margin-right:5px;}
			.leg-color>div:last-of-type {float:left;}
		#leg-def-col {width:30%;padding:15px 0;clear:both;-webkit-column-count: 2; -moz-column-count: 2; column-count: 2; -webkit-column-gap: 10px; -moz-column-gap: 10px; column-gap: 10px;}
			#leg-def-col p {font-size: .9em;margin-bottom: 10px;}

/* HEADER ROW 
==================================================*/
#leg-hed {}
	#leg-hed .header {font-size:.9em; color:#333;}
	#leg-hed .header>div {padding:10px 0 0 0;}
	#leg-hed-row {width:100%;border-bottom:1px #333 solid;padding:0;height:60px;position:relative;background: #fff;z-index:100;}
		#leg-length {width:5%;padding:0 1%;}
		#leg-leg {width:80%;}
		#leg-level {width:6%;height:60px;}
		#leg-gov {text-align: center;}

/* BODY 
==================================================*/			
#leg-body {}
	.leg-meta, #leg-meta {width:35%;padding:5px 1% 5px 0;height:35px;}
		.leg-title {font-size: .9em;color:#333;}
		.leg-sum {font-size:.8em;color:#aaa;}
	.leg-date, #leg-date {width:5%;padding:0 1%;}
		.leg-date>div {padding:20px 0;}
	.leg-length {width:5%;padding:7px 1%;}
		.leg-length>div:first-of-type {font-size: 1.5em;color: #aaa;padding-top:12%;}
	.leg-viz, #leg-viz {width:50%;padding:0;margin:0;}
		.leg-leg {width:80%;border-left: 1px solid #ddd;}
			.leg-upper {width: 100%;border-bottom: 1px #ddd solid;}
				.leg-upper .leg-level {border-bottom: 1px #ddd solid;}
			.leg-lower, #leg-progress {width: 100%;}
				.leg-level {position:relative;border-right: 1px solid #ddd;width:6%;float:left;}
					.leg-level>div {padding-top:4px;}
				.leg-intro {}
				.leg-commit {}
				.leg-floor {}
			.leg-enroll, #leg-enroll {width: 10.7684%}
		.leg-end, #leg-end {width:19.8%;}
			.leg-gov {}
			.leg-chapter {}
			.leg-length {}

/* FOOTER 
==================================================*/
#leg-foot {}


/* MEDIA QUERIES 
==================================================*/

@media screen and (max-width:1084px){
	.leg-lower, #leg-progress, .leg-upper {width: 88%;}
	.leg-end, #leg-end {width:19.7%;}
}

@media screen and (max-width:850px){
	.leg-length, #leg-length {display:none;}
	.leg-date, #leg-date {width:10%;}
	.leg-meta, #leg-meta {width:37%;}
}

@media screen and (max-width:850px){
	.leg-row, #leg-hed-row , #leg-app .full, #leg-app .height {height:90px;}
	#leg-app .half {height:44.5px;}
	.leg-date, #leg-date {display:none;}
	.leg-meta, #leg-meta {width:37%;}
	.leg-viz, #leg-viz {width:62%;}
	.leg-leg,#leg-leg  {width:79%;}
	#leg-filter {width:90%;}

}

@media screen and (max-width: 1321px){
	#leg-app .block {width:31.22%;}
}

@media screen and (max-width: 670px){
	#leg-app .block {width:31.2%;}
	#leg-def-col {width:100%;}
}

@media screen and (max-width: 570px){
	#leg-app .block {width:31.1%;}
	#leg-ask {height:140px;}
	#leg-search {width:65%;}
}